@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .link-primary {
    @apply text-center
      border
      block
      px-4
      py-1
      mx-auto
      rounded
      shadow-md
      bg-slate-300
      border-slate-400
      hover:bg-slate-400;
  }

  .submit-button {
    @apply w-full 
      mt-2
      h-12
      px-4
      border
      shadow-sm
      rounded-md
      text-center
      font-medium
    bg-green-500
    border-green-600
    hover:bg-green-700
    disabled:bg-green-200
    disabled:border-green-300
      disabled:cursor-not-allowed;
  }
}
